.ground-equipment-app {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 100%;

  overflow: hidden;
  background: #1e1e1e;
  color: #ffffff;
  padding-top: 10px; /* Space for notification button */
}
